.card {
  border: 3px solid #bbb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  box-shadow: rgba(255, 255, 255, 0.15) 2.4px 2.4px 3.2px;
  margin-bottom: 10px;
}

.card__img {
  height: 200px;
  width: 200px;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
